@tailwind base;

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(/node_modules/typeface-roboto/files/roboto-latin-400.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(/node_modules/typeface-roboto/files/roboto-latin-400italic.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(/node_modules/typeface-roboto/files/roboto-latin-700.woff) format("woff");
}

/* source-serif-pro-400normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Serif Pro Regular '),
    local('Source Serif Pro-Regular'),
    url('/node_modules/typeface-source-serif-pro/files/source-serif-pro-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('/node_modules/typeface-source-serif-pro/files/source-serif-pro-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-600normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Source Serif Pro SemiBold '),
    local('Source Serif Pro-SemiBold'),
    url('/node_modules/typeface-source-serif-pro/files/source-serif-pro-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/node_modules/typeface-source-serif-pro/files/source-serif-pro-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-700normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Serif Pro Bold '),
    local('Source Serif Pro-Bold'),
    url('/node_modules/typeface-source-serif-pro/files/source-serif-pro-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/node_modules/typeface-source-serif-pro/files/source-serif-pro-latin-700.woff') format('woff'); /* Modern Browsers */
}

body {
  background-image:
    radial-gradient(#ededed 30%, transparent 20%),
    radial-gradient(#ededed 30%, transparent 20%);
  background-position: 0 0, 80vw 80vw;
  background-size: 160vw 160vw;
  /* background-attachment: fixed; */
  /* width: 100%; */
}

a:hover {
  @apply text-fdblue underline;
}

.article-image {
  @apply object-cover object-center;
}

.block-image {
  @apply object-cover object-center w-full;
}

.element-circle {
  @apply bg-fdblue rounded-full shadow-md;
}

.element-quarter-tl {
  @apply bg-fdblue rounded-tl-full shadow-md;
}

.element-quarter-tr {
  @apply bg-fdblue rounded-tr-full shadow-md;
}

.element-quarter-bl {
  @apply bg-fdblue rounded-bl-full shadow-md;
}

.element-quarter-br {
  @apply bg-fdblue rounded-br-full shadow-md;
}

@tailwind components;

@tailwind utilities;