@tailwind base;

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(/node_modules/typeface-roboto/files/roboto-latin-400.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(/node_modules/typeface-roboto/files/roboto-latin-400italic.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(/node_modules/typeface-roboto/files/roboto-latin-700.woff) format("woff");
}

@font-face {
  font-family: "'Source Serif Pro'";
  font-weight: 400;
  src: url(/node_modules/typeface-source-serif-pro/files/source-serif-pro-latin-400.woff) format("woff");
}

@tailwind components;

@tailwind utilities;